.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: white;
}
.nav-logo {
  width: 200px;
}
.nav-profile {
  width: 75px;
}

/* @media */

/* #region @ 800px*/

@media (max-width: 800px) {
  .navbar {
    position: sticky;
    top: 0; /* Sticks to the top of the screen */
    z-index: 100; /* Ensure it stays on top of other elements if needed */
    padding: 15px 30px;
  }
  .nav-logo {
    width: 150px;
  }
  .nav-profile {
    width: 60px;
  }
}

/* #endregion @ 800px*/
